/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.container {
	border:3px solid gray;
	height:100%;
	width:100%;

.head {
	display:flex;

}
}
nav{
	text-align: center;
	height:10px;
}
nav a{
margin-top: 2%;
margin-left:4%;
margin-right:4%;
display:inline;
float:left;
}
.logo{
	
	width:20%;
	display:inline-block;

	
}
#top {

    height:60%;
	width:90%;
	display:flex;
	margin-left:10px;
	justify-content:center;
	margin-bottom:10%;
	
}

.header{

width:40%;;
height:100%;
display:flex;
flex-direction:column;


}

h1{

	font-size:100px;
	margin-top: 5%;
	width:50%;
	text-align:center

}

.codepic{
width:30%;
margin-top:5%;

}

button{
	background-color:white;
	border:1px solid grey;
	width:30%;
	height:50px;
	margin-left:10%;
	vertical-align: center;
	
}
#middle{
	border-top: 1px solid black;
	display:flex;
	height:50%;
	width:90%;
	margin-left:5%;
	margin-right:5%;
	justify-content:space-between;
	
}

.features{
	margin-top:4%;
	height:50%;
	width:45%;
	margin-left:2%;
	margin-bottom:0;

}
.about{

	width:45%;
	height:50%;
	margin-top:4%;
	margin-right:2%;
	margin-bottom:0;
	
}
.middle-img{
	display:flex;
	justify-content: center;
	width:90%;
	margin-left:5%;
	margin-right:5%;
	
}
#bottom{
	
	width:90%;
	height:50%;
	margin-left:5%;
	margin-right:5%;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	border-bottom:1px solid black;
}
.services{
	
	text-align:left;
	width:33%;
	height:100%;
	margin-top:5%;
}

.product{
	
   text-align:left;
	width:33%;
	height:100%;
	margin-top:5%;

}


.vision{
	text-align:left;
   width:33%;
	height:100%;
	margin-top:5%;

}
.contact{
	border:2px solid black;
	line-height: 2;
	text-align:left;
}
.copyright{
	border: 1px solid blue;
	text-align:center;
	width:100%;
	margin:100px;
	margin:0 auto
}


}


/*
SERVICES PAGE STYLING HERE:
*/

.services-header-img{
	display:flex;
	justify-content: center;
	width:90%;
	margin-left:5%;
	margin-right:5%;
}
.service2 h2{
	font-size: 30px;
}
/*
#middle2{
	border:2px solid black;
	display:flex;
	justify-content: space-between;
	width:100%;
	flex-wrap: wrap;

	
}
*/
#middle2{
width:90%;
	display:flex;
	justify-content: space-around;
flex-wrap:wrap;
}





.boxes{
	
	width:40%;
	justify-content: space-around;
	height:200px;
	margin-bottom:5%;
	border: 1px solid black;
	background-color:lightgray
}
	
#middle2 button{
	background-color:white;
	border:1px solid grey;
	width:20%;
	height:30px;
	margin-left:10%;
	vertical-align: center;
	margin-top:10%;
 border-radius: 5%;
}

.services2{
	width:90%;
	height: 100px;
	margin-bottom:5%;
}
	.services2 h2{
		font-size: 30px;
	}
	

